.input{
  width: 100%;
  height: var(--input-height);
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  padding: var(--input-padding);
  box-shadow: var(--input-border-inset);
}

.input:focus{
  outline: none;
}

.input:hover{
  border: var(--input-hover-border);
  box-shadow: var(--input-hover-shadow);
}