.SHOW-HIDE-PASSWORD{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.SHOW-HIDE-PASSWORD svg{
  width: 14px;
}

.SHOW-HIDE-PASSWORD p{
  font-size: 12px;
  color: rgb(100, 100, 100);
}