.UPLOAD-PICTURE{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  gap: 15px;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  z-index: 120;
}

.upload-picture_headline{
  display: flex;
  align-items: center;
  justify-content: space-between;
}