.LOADING-SPINNER{
  position: fixed;
  z-index: 101;

  top: 0;
  left: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  background-color: rgba(112, 112, 112, 0.193);
  cursor: wait;
}

.LOADING-SPINNER img{
  width: 100px;
  animation: spin 1.3s ease infinite;
}

@keyframes spin{
  to{
    transform: rotate(360deg)
  }
}