.SET-NEW-PASSWORD{
  display: grid;
  width: 300px;
  gap: 20px;
  margin: auto;
  text-align: center;
}

.SET-NEW-PASSWORD form{
  display: grid;
  gap: 15px;
  text-align: left;
}

.SET-NEW-PASSWORD form button{
  border-radius: 5px;
}