.BODY{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.BODY.home{
  background-color: var(--background-color);
}

.BODY .notHome{
  background-color: var(--background-color2);
}
