.USER_INFORMATION img{
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.user-information{
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-name{
  font-weight: bold;
}

.user-information button{
  height: 25px;
  width: 25px;
}

.user-information button p{
  font-size: 17px;
}

.USER_INFORMATION div:nth-of-type(1) {
  display: flex;
  align-items: center;
}

.user-description {
  max-height: 50px;
  overflow: auto;
}